:root {
  --bs-blue: #3f80ea;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d9534f;
  --bs-orange: #fd7e14;
  --bs-yellow: #cc8b37;
  --bs-green: #4bbf73;
  --bs-teal: #20c997;
  --bs-cyan: #1f9bcf;
  --bs-black: #fff;
  --bs-white: #293042;
  --bs-gray: #a9acb3;
  --bs-gray-dark: #d4d6d9;
  --bs-gray-100: #3e4555;
  --bs-gray-200: #545968;
  --bs-gray-300: #696e7b;
  --bs-gray-400: #7f838e;
  --bs-gray-500: #9498a1;
  --bs-gray-600: #a9acb3;
  --bs-gray-700: #bfc1c6;
  --bs-gray-800: #d4d6d9;
  --bs-gray-900: #eaeaec;
  --bs-primary: #3f80ea;
  --bs-secondary: #7f838e;
  --bs-success: #4bbf73;
  --bs-info: #1f9bcf;
  --bs-warning: #cc8b37;
  --bs-danger: #d9534f;
  --bs-light: #343a4b;
  --bs-dark: #eaeaec;
  --bs-primary-rgb: 63, 128, 234;
  --bs-secondary-rgb: 127, 131, 142;
  --bs-success-rgb: 75, 191, 115;
  --bs-info-rgb: 31, 155, 207;
  --bs-warning-rgb: 204, 139, 55;
  --bs-danger-rgb: 217, 83, 79;
  --bs-light-rgb: 52, 58, 75;
  --bs-dark-rgb: 234, 234, 236;
  --bs-white-rgb: 41, 48, 66;
  --bs-black-rgb: 255, 255, 255;
  --bs-body-color-rgb: 169, 172, 179;
  --bs-body-bg-rgb: 32, 38, 52;
  --bs-font-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(41, 48, 66, 0.15),
    rgba(41, 48, 66, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.825rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.625;
  --bs-body-color: #a9acb3;
  --bs-body-bg: #1e1e1e;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #545968;
  --bs-border-color-translucent: hsla(0, 0%, 100%, 0.175);
  --bs-border-radius: 0.2rem;
  --bs-border-radius-sm: 0.1rem;
  --bs-border-radius-lg: 0.3rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #3f80ea;
  --bs-link-hover-color: #3266bb;
  --bs-code-color: #e83e8c;
  --bs-highlight-bg: #f5e8d7;
}
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.h1,
h1 {
  font-size: 1.65rem;
}
.h2,
h2 {
  font-size: 1.44375rem;
}
.h3,
h3 {
  font-size: 1.2375rem;
}
.h4,
h4 {
  font-size: 1.03125rem;
}
.h5,
.h6,
h5,
h6 {
  font-size: 0.825rem;
}
p {
  margin: 0rem;
}
a,
span {
  color: var(--bs-black);
  text-decoration: none;
}
.lorem-dark {
  color: #5c5959;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: var(--bs-body-bg) !important;
}
input,
select {
  background-color: #272727;
}
